*{
    margin: 0;
    padding: 0;
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-images img {
    width: 460px;
    height: 267px;
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-dots {
    text-align: center;
    padding: 10px 0;
}

.carousel-dots .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #717171;
}
.carousel .carousel-images button{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
    justify-content: flex-start;
}